<!DOCTYPE html>


<html>
  <head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="public/table.css">
    <title>OCP Grants</title>
  </head>
  
  <body>

    <div class="container">
      <div id ="floating-button" class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
      </div>
      
      <h1>Grants</h1>
      <div class="row">
        <div class = "col s12">
          <div id="notifications" class="collection">
          </div>
        </div>
      </div>
      <div class="row">
          <button id="Received" class="waves-effect waves-light btn-large" type="submit" name="action" value="disabled">Received</button>
          <button id="Applied" class="waves-effect waves-light btn-large" value="disabled">Applied</button>
          <button id="Need to apply" class="waves-effect waves-light btn-large" style="font-size:small" class="font" value="disabled">Need to Apply</button>
          <button id="Rejected" class="waves-effect waves-light btn-large" value="disabled">Rejected</button>   
      <br><br>
      <div class="row">
         <div class="col s12">
          <table id="grants" class="highlight">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Grant</th>
                  <th>Status</th>
                  <th>Due Date</th>
                  <th>Amount Requested</th>
                  <th>Amount Received</th>
                  <th>Duration</th>
                  <th>Notes</th>
                  <th>Interim Report</th>
                  <th>Final Report</th>
                  <th>More Info</th>
              </tr>
            </thead>

            <tbody id="tbod">
            
            </tbody>
          </table>
         </div>
      </div> <!-- CLOSE ROW -->
    
    </div> <!-- CLOSE CONTAINER -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src =/public/table.js></script>
  </body>
</html>